.comment {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
}

.commentBox {
    flex: 1;
}

.commentContent {
    background: var(--gray-700);
    border-radius: 8px;
    padding: 1rem;
}

.commentContent header div {
    display: flex;
    flex-direction: column;

    gap: 0.25rem;
}

.commentContent header div strong {
    font-size: 0.850rem;
    color: var(--gray-100);
}

.commentContent header div time {
    font-size: 0.700rem;
    color: var(--gray-400);
}

.commentContent header button {
    border: none;
    color: var(--gray-400);
    background: var(--gray-700);
    cursor: pointer;
}

.commentContent p {
    font-size: 1rem;
    color: var(--gray-300);
    margin: 1rem 0;
}